<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--  <link rel="import" href="button.html"> -->
    {% extends 'welcome.html' %} 
  
    <title>{% block title %}Администратор{% endblock %}</title>
</head>
<body>
    {% block content %}<h1>Добро пожаловать, администратор!</h1>
    {% include 'button.html' %}

<!--<button class="btn">Редактирование профилей</button> <button class="btn">Создание учетных записей</button> <button class="btn">Публикация статей</button>-->
    {% endblock %}


</body>
</html>
