<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style_2.css')}}">
    <title>{% block title %}Приветствие {% endblock %}</title>
</head>
<body>
    
    {% block content %}<h1>Добро пожаловать!</h1>{% endblock %}
    
 <!--  <h1>Добро пожаловать!</h1> -->
     
     <p class="aligncenter">
     <img src="static/dragon.png" alt="Дракон">
     </p>
</body>

<footer class="footers"><p>Все права защищены 2024</p></footer>
</html> 